* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  border-bottom: 1px solid gray;
  margin-block: 1rem;
  padding-inline: 2rem;
}
.logo-title {
  display: flex;
}
img {
  height: 60px;
}
h1 {
  padding-inline: 0.5rem;
}
ul {
  text-decoration: none;
  display: flex;
}
li {
  list-style-type: none;
  margin-right: 0.5rem;
  padding-block: 0.5rem;
}
.blue-hightlightened {
  color: blue;
  border-bottom: 3px solid blue;
}
.main-container {
  padding-block: 3rem;
  width: 70%;
  margin: 0 auto;
}
.faq-container {
  padding-block: 1rem;
}
h2 {
  padding-bottom: 1.5rem;
  font-size: x-large;
}
p {
  padding-block: 0.2rem;
}
